.month{
	

}

.month > tbody > tr{
	height: 50px;
}

.month > tbody > tr > *{
	width: 60px;
	text-align: left;
	vertical-align: top;
}

span.mini{
	font-size: 12px;
}

/*border-collapse: none; border: 1px solid;*/