.month{
	margin: 0 auto;
}

.month > tbody > tr{
	height: 100px;
}

.month > tbody > tr > td{
	width: 100px;
	text-align: left;
	vertical-align: top;
	border : #333 1px solid;
}

span.mini{
	font-size: 12px;
}

/*border-collapse: none; border: 1px solid;*/