{% extends "esports/base.html" %}

{%block indexview %}        class="current-menu-item"   {%endblock indexview %}
{%block teamview %}                                     {%endblock teamview %}
{%block tournamentview %}                               {%endblock tournamentview %}
{%block contactview %}                                  {%endblock contactview %}

{% block title %}VEC Monthly ESports Tournaments{% endblock title %}



{% block content %}
    {% if last_operation != "None" %}
    <strong>{{last_operation}}</strong> completed, returning  <strong>{{lo_value}}</strong>
    {% if lo_value != "Success" %}
    with response <strong>{{lo_reason}}</strong>
    {% endif %}
    {% endif %}

    <div class="grid_6">
        <form action="/secretadminlink/" method="post">
            {% csrf_token %}
            <h2>Create Tournament</h2>
            <select name="game">
                <option value="lol">League of Legends:</option>
                <option value="dota">DOTA2</option>
            </select>
            <table>
                <tr>
                    <td>Tournament Name *</td>
                    <td><input type="text" name="tmn" /></td>
                </tr>
                    <tr>
                    <td>Tournament Name *</td>
                    <textarea name="description" cols="25" rows="5">
                        Default description
                    </textarea><br>
                </tr>
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock content %}