<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <h1>Contact Admins</h1>
    <p>For help in brackets, matchups and suchlike contact an admin for the game you are entered in, for site and technical issues contact a webmaster.</p>
    <br />
    <h2>DOTA2 Admins:</h2>
    <h3>Andrew Palmer, Lead Admin</h3>    
    <p> Email:
    <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+
'&'+'#'+'3'+'7'+';'+'6'+'&'+'#'+'4'+'9'+';'+'n'+'d'+'r'+'&'+'#'+'1'+'0'+'1'+';'+'w'+'&'+'#'+'1'+'1'+
'2'+';'+'&'+'#'+'3'+'7'+';'+'6'+'1'+'&'+'#'+'1'+'0'+'8'+';'+'m'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+
';'+'5'+'r'+'&'+'#'+'4'+'6'+';'+'m'+'%'+'&'+'#'+'5'+'4'+';'+'5'+'&'+'#'+'6'+'4'+';'+'g'+'m'+'a'+'i'+
'l'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'9'+'9'+';'+'&'+'#'+'3'+'7'+';'+'6'+'&'+'#'+'7'+'0'+';'+'m'+"'"+'>'+
'&'+'#'+'9'+'7'+';'+'n'+'d'+'&'+'#'+'1'+'1'+'4'+';'+'e'+'w'+'p'+'a'+'l'+'m'+'e'+'r'+'&'+'#'+'4'+'6'+
';'+'&'+'#'+'1'+'0'+'9'+';'+'e'+'&'+'#'+'6'+'4'+';'+'g'+'&'+'#'+'1'+'0'+'9'+';'+'a'+'i'+'&'+'#'+'1'+
'0'+'8'+';'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'&'+'#'+'1'+'0'+'9'+';'+'<'+'/'+'a'+'>');
    </script><noscript>[Turn on JavaScript to see the email address]</noscript>
    </p>

    <p> Ph:     027 3323704</p> 
    <br />
    <h3>Till Elton, Secondary Admin</h3>
    <p> Email:  
<script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'i'+'&'+'#'+'1'+'0'+
'8'+';'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'1'+'0'+'8'+';'+'t'+'&'+'#'+'3'+
'7'+';'+'6'+'F'+'n'+'&'+'#'+'1'+'1'+'6'+';'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'l'+'&'+'#'+'6'+'4'+';'+'e'+
'c'+'s'+'&'+'#'+'4'+'6'+';'+'v'+'&'+'#'+'1'+'1'+'7'+';'+'&'+'#'+'1'+'1'+'9'+';'+'&'+'#'+'4'+'6'+';'+
'&'+'#'+'9'+'7'+';'+'c'+'&'+'#'+'4'+'6'+';'+'n'+'&'+'#'+'3'+'7'+';'+'7'+'A'+"'"+'>'+'e'+'l'+'t'+'o'+
'n'+'&'+'#'+'1'+'1'+'6'+';'+'i'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'6'+'4'+';'+
'e'+'c'+'s'+'&'+'#'+'4'+'6'+';'+'v'+'u'+'w'+'&'+'#'+'4'+'6'+';'+'a'+'c'+'&'+'#'+'4'+'6'+';'+'&'+'#'+
'1'+'1'+'0'+';'+'z'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>
    </p>
    <br />
    <h2>League of Legends Admins</h2>
    <h3> Kieran Carnegie, Lead Admin </h3>
    <p> Email:
<a href='mailto&#58;ko%&#55;4%61rou&#37;4&#48;%65cs&#46;vu%77&#46;ac&#46;%6E%7&#65;'>&#107;otar&#111;&#117;&#64;ecs&#46;v&#117;w&#46;ac&#46;nz</a>
    </p>
    <p> Ph:     027 8175914 </p>
    <p> League: ClockworkKuudere</p>
    <br />
    <h2>Webmasters</h2>
    <p> Kieran Carnegie, Till Elton </p>
    <p> Contact: See above, email preferred</p>

    <a href="/">Home</a> <br />
</body>
</html>
