<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>

    Current teams are:
    <br />
    {% for team in teams %}
        {{team.name}} <br />
    {% endfor %}

    <br />
    <br />
    Current brackets are:
    <br />
    {% for matchup in matchups %}
        {{matchup.team_1.name}} Vs {{matchup.team_2.name}} on {{matchup.date}} <br />
    {% endfor %}
    
    <br />
    <br />
    <a href="/m_bracket">Make a matchup</a> <br />
    <a href="/m_team">Register a team</a>


  </body>
</html>
