<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>

        These tournaments will run by the following schedule:<br />
        First week of month (Until the first sunday after the 5th) - Team signups<br />
        Second week of each month (Second subday after the 5th) - Teams agree on match times<br />
        Third week of each month - Round Robin Matches<br />
        Fourth week - More roundrobin matches OR placement matches.<br />
        <br />
        To sign up each month costs $25. An email will be sent to the address provided to sort this out.<br />
        Each month's prize pool at minimum contains the entirety of the signup money<br />

        <br />

        Current LoL teams are:
        <ul>
        {% for team in teams %}
            {% if team.game = "lol" and team.active %}
                <li> {{team.name}} </li>
            {% endif %}
        {% endfor %}
        </ul>

        Current DOTA2 teams are:
        <ul>
        {% for team in teams %}
            {% if team.game = "dota" and team.active %}
                <li> {{team.name}} </li>
            {% endif %}
        {% endfor %}
        </ul>

        <br />
        <br />
        Upcoming LoL matches:
        {% for matchup in matchups%}
        <table>
            {% if matchup.game = "lol" and not matchup.completed %}
                <tr>
                    <td width="50px"></td>
                    <td>{{matchup.m_class}} - {{matchup.m_type}}:</td>
                    <td><strong>{{matchup.team_1.name}}</strong> vs</td>
                    <td> <strong>{{matchup.team_2.name}}</strong> on </td>
                    <td>{{matchup.date}}</td>
                </tr>
            {% endif %}
        </table>
        {% endfor %}

        Upcoming DOTA2 matches:
        {% for matchup in matchups%}
        <table>
            {% if matchup.game = "dota" and not matchup.completed %}
                <tr>
                    <td width="50px"></td>
                    <td>{{matchup.m_class}} - {{matchup.m_type}}:</td>
                    <td><strong>{{matchup.team_1.name}}</strong> vs</td>
                    <td> <strong>{{matchup.team_2.name}}</strong> on </td>
                    <td>{{matchup.date}}</td>
                </tr>
            {% endif %}
        </table>
        {% endfor %}

        Recent LoL results:
        {% for result in results %}
        <table>
            {% if result.match.game = "lol"%}
                <tr>
                    <td width="50px"></td>
                    <td>{{result.match.m_class}} - {{result.match.m_type}}:</td>
                    <td><strong>{{result.match.team_1.name}}</strong> ( {% if result.score_1 >= result.score_2 %} <font color="green"> {% else %} <font color="red"> {% endif %} {{result.score_1}} </font>  ) vs</td>
                    <td> <strong>{{result.match.team_2.name}}</strong> ( {% if result.score_2 >= result.score_1 %} <font color="green"> {% else %} <font color="red"> {% endif %} {{result.score_2}} </font>  ) played </td>
                    <td>{{result.match.date}}</td>
                </tr>    
            {% endif %}
        </table>
        {% endfor %}

        Recent DOTA2 results:
        {% for result in results %}
        <table>
            {% if result.match.game = "dota"%}
                <tr>
                    <td width="50px"></td>
                    <td>{{result.match.m_class}} - {{result.match.m_type}}:</td>
                    <td><strong>{{result.match.team_1.name}}</strong> ( {% if result.score_1 >= result.score_2 %} <font color="green"> {% else %} <font color="red"> {% endif %} {{result.score_1}} </font>  ) vs</td>
                    <td> <strong>{{result.match.team_2.name}}</strong> ( {% if result.score_2 >= result.score_1 %} <font color="green"> {% else %} <font color="red"> {% endif %} {{result.score_2}} </font>  ) played </td>
                    <td>{{result.match.date}}</td>
                </tr>    
            {% endif %}
        </table>
        {% endfor %}
        <a href="/m_team">Register a team</a>
    </body>
</html>
