{% extends "esports/base.html" %}

{%block indexview %}{%endblock indexview %}
{%block teamview %}class="current-menu-item"{%endblock teamview %}
{%block tournamentview %}{%endblock tournamentview %}
{%block contactview %}{%endblock contactview %}

{% block title %}Register a team:{% endblock title %}

{% block content%}  

{% if last_operation != "None" %}
<strong>{{last_operation}}</strong> completed, returning  <strong>{{lo_value}}</strong>
{% if lo_value != "Success" %}
with response <strong>{{lo_reason}}</strong>
{% endif %}
{% endif %}

<div class="grid_6">

    {% if phase = 'register' %}

    <form action="/register/" method="post">
        {% csrf_token %}
        <h2>Register New Team</h2>
        <!--<strong>
            Entry fees to our tournaments are currently $25 per team.<br/>
            Please send this through to the account: 12-3141-0343764-52 with a reference similar to your team name.<br/>
            Your registration will not be considered complete until this payment is recieved.<br/><br/>
        </strong>-->
        Please visit the facebook page <a href="https://www.facebook.com/events/269661616556934/">here</a> for entry details on the Road to Glory tournament.
        <select name="game">
                <option value="lol">League of Legends: {{current_tournament_lol}}</option>
                <option value="dota">DOTA2: {{current_tournament_dota}}</option>
        </select>
        All player names should be summoner / in-game names.
        <br />

        <table>
            <tr>
                <td>Team Name *</td>
                <td><input type="text" name="tmn" /></td>
            </tr>
            <tr>
                <td>Team Contact email *</td>
                <td><input type="text" name="eml" /></td>
            </tr>
            <tr>
                <td>Team Captain *</td>
                <td><input type="text" name="cap" /></td>
            </tr>
            <tr>
                <td>Team player 2 *</td>
                <td><input type="text" name="pl2" /></td>
            </tr>
            <tr>
                <td>Team player 3 *</td>
                <td><input type="text" name="pl3" /></td>
            </tr>
            <tr>
                <td>Team player 4 *</td>
                <td><input type="text" name="pl4" /></td>
            </tr>
            <tr>
                <td>Team player 5 *</td>
                <td><input type="text" name="pl5" /></td>
            </tr>
            <tr>
                <td>Team sub 1</td>
                <td><input type="text" name="pl6" /></td>
            </tr>
            <tr>
                <td>Team sub 2</td>
                <td><input type="text" name="pl7" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
        <p>Note: Please make sure your details are correct before submitting the form and that all fields marked with * are completed!.</p>
    </form>
</div>
{% if reregistration %}
    <div class="grid_6">
       <h2>Re-register Team</h2>
        <p> Only do this if you want to re-register a team from a previous tournament with exactly the same details</p>
        <strong> The same $25 entry fee applies as for normal registration</strong>
        <form action="/register/" method="post">
            {% csrf_token %}
            <select name="r_team">
                {% for team in old_lol_teams %}
                    <option value={{team.name|urlencode}}>({{team.game}}) {{team.name}}</option>
                {% endfor %}
                {% for team in old_dota_teams %}
                    <option value={{team.name|urlencode}}>({{team.game}}) {{team.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endif %}
{% else %}

<div class="grid_12">
    <h2>Registrations are closed</h3>
    <h3> Registrations will open for VECLOL_2 and VECDOTA_2 towards the end of June.</h3>
</div>

{% endif %}

</div>
</div>
</div>

{% endblock content %}