<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>VEC ESports</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	
	
	<!-- CSS
	================================================== -->
	<!-- Normalize default styles -->
	<link rel="stylesheet" href="/static/css/normalize.css" media="screen" />
	<!-- Skeleton grid system -->
	<link rel="stylesheet" href="/static/css/skeleton.css" media="screen" />
	<!-- Base Template Styles-->
	<link rel="stylesheet" href="/static/css/base.css" media="screen" />
	<!-- Template Styles-->
	<link rel="stylesheet" href="/static/css/style.css" media="screen" />
	<!-- Superfish -->
	<link rel="stylesheet" href="/static/css/superfish.css" media="screen" />
	<!-- Prettyphoto -->
	<link rel="stylesheet" href="/static/css/prettyPhoto.css" media="screen" />
	<!-- FontAwesome -->
	<link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" />
	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" href="/static/css/settings.css" media="screen" />
	<!-- Flexslider -->
	<link rel="stylesheet" href="/static/css/flexslider.css" media="screen" />
	<!-- Layout and Media queries-->
	<link rel="stylesheet" href="/static/css/media-queries.css" media="screen" />
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie/ie8.css" media="screen" />
		<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
	
	
</head>
<body>
	
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">

		<div class="wrapp-holder">
			<div class="wrap-frame">
				<!-- BEGIN HEADER -->
				<header id="header" class="header">

					<!-- Top Header -->
					<div class="header-top">
						<div class="container clearfix">
							<div class="grid_12">
								<!-- Top Menu -->
								<!--<ul class="header-top-menu unstyled">
									<li><a href="#">Empty link</a></li>
									<li><a href="#">Empty link</a></li>
									<li><a href="#">Empty link</a></li>
								</ul>-->
								<!-- /Top Menu -->
								
								<!-- Social Links -->
								<ul class="social-links unstyled">
									<!--<li class="ico-twitter"><a href="#">Twitter</a></li>-->
									<li class="ico-facebook"><a href="https://www.facebook.com/VictoriaEngineeringClub">Facebook</a></li>
									<!--<li class="ico-googleplus"><a href="#">Google+</a></li>
									<li class="ico-dribbble"><a href="#">Dribbble</a></li>
									<li class="ico-vimeo"><a href="#">Vimeo</a></li>
									<li class="ico-rss"><a href="#">RSS</a></li>-->
								</ul>
								<!-- /Social Links -->
							</div>
						</div>
					</div>
					<!-- /Top Header -->
					<!-- Main Header -->
					<div class="header-main">
						<div class="container clearfix">
							<div class="grid_12 hr-bottom">

								<!-- BEGIN LOGO -->
								<div id="logo">
									<!-- Image based Logo -->
									<a href="/"><img src="/static/images/logo.png" alt="VEC" width="180" /></a>

								</div>
								<!-- END LOGO -->


								<!-- BEGIN NAVIGATION -->
								<nav class="primary">
									<ul class="sf-menu">
										<li {% if current = 'index' %} class="current-menu-item" {% endif %}>
											<a href="/">Home <span><i>|</i> All the info</span></a>
										</li>
										<li {% if current = 'teams' %} class="current-menu-item" {% endif %}>
											<a href="/v_teams/">Teams <span><i>|</i> View and Register</span></a>
											<!-- Sub Navigation -->
											<ul>
												<li><a href="/v_teams/">View Registered teams</a></li>
												<li><a href="/c_teams/">Register a team</a></li>
											</ul>
											<!-- /Sub Navigation -->
										</li>
										<li {% if current = 'brackets' %} class="current-menu-item" {% endif %}>
											<a href="/v_brackets/">Brackets <span><i>|</i> Upcoming games</span></a>
										</li>
										<li {% if current = 'results' %} class="current-menu-item" {% endif %}>
											<a href="/v_results/">Results <span><i>|</i> Recent matches</span></a>
										</li>
										<li {% if current = 'contact' %} class="current-menu-item" {% endif %}>
											<a href="/p_contact/">Contact <span><i>|</i> Get in Touch</span></a>
										</li>
									</ul>
								</nav>
								<!-- END NAVIGATION -->
							</div></div></div><!-- /Main Header --></header><!-- END HEADER -->
