<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    {% if last_operation != "None" %}
        <strong>{{last_operation}}</strong> completed, returning  <strong>{{lo_value}}</strong>
        {% if lo_value != "Success" %}
            with response <strong>{{lo_reason}}</strong>
        {% endif %}
    {% endif %}
        <div id="container">
            <form action="/m_team/" method="post">
                {% csrf_token %}
                <h1>Create Team</h1>
                <select name="game">
                    <option value="lol">League of Legends</option>
                    <option value="dota">DOTA2</option>
                </select>
                <table>
                    <tr>
                        <td>Team Name *</td>
                        <td><input type="text" name="tmn" /></td>

                    </tr>
                    <tr>
                        <td>Team Contact email *</td>
                        <td><input type="text" name="eml" /></td>
                    </tr>
                    <tr>
                        <td>Team Captain *</td>
                        <td><input type="text" name="cap" /></td>
                    </tr>
                    <tr>
                        <td>Team player 2 *</td>
                        <td><input type="text" name="pl2" /></td>
                    </tr>
                    <tr>
                        <td>Team player 3 *</td>
                        <td><input type="text" name="pl3" /></td>
                    </tr>
                    <tr>
                        <td>Team player 4 *</td>
                        <td><input type="text" name="pl4" /></td>
                    </tr>
                    <tr>
                        <td>Team player 5 *</td>
                        <td><input type="text" name="pl5" /></td>
                    </tr>
                    <tr>
                        <td>Team sub 1</td>
                        <td><input type="text" name="pl6" /></td>
                    </tr>
                    <tr>
                        <td>Team sub 2</td>
                        <td><input type="text" name="pl7" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Submit" />
                        </td>
                    </tr>
                </table>
                <p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>
            </form>
        </div>
        <a href="/">Home</a><br />

  </body>
</html>
