{% load match_list %}
<div class="grid_12">

	This team <strong>is{% if current not in results.0 %} not {% endif %}</strong> entered in the current {{team.game}} tournament; {{current}}
	<br />
	<br />
	Registered game: {{team.game}}<br />
	Captain: {{team.captain}}<br />
	Player 2: {{team.player_2}}<br />
	Player 3: {{team.player_3}}<br />
	Player 4: {{team.player_4}}<br />
	Player 5: {{team.player_5}}<br />
	Sub 1: {{team.sub_1}}<br />
	Sub 2: {{team.sub_2}}<br />	
	<br />



	<h3>Upcoming Matches:</h3>
	{% match_list 'upcoming' 'date_asc' matches %}
	<h3>Unschedulded Matches and Matches awaiting results:</h3>
	{% match_list 'incomplete' 'date_asc' matches %}
	<h3>Recent Results:</h3>
	{% match_list 'complete' 'date_dec' matches %}

	<h3>Played in:</h3>
	{% for t in results %}
		<a href='/view/tournament/{{t}}' style="margin-left:50px;">{{t}}</a><br />
	{% endfor%}
	<br />
	<h3>Previous members:</h3>
	{% for p in prior %}
		<span style="margin-left:50px;">{{p}}</span><br />
	{% endfor%}
</div>