{% load match_list %}
<div class="grid_12">
	Registered game: {{team.game}}<br />
	Captain: {{team.captain}}<br />
	Player 2: {{team.player_2}}<br />
	Player 3: {{team.player_3}}<br />
	Player 4: {{team.player_4}}<br />
	Player 5: {{team.player_5}}<br />
	Sub 1: {{team.sub_1}}<br />
	Sub 2: {{team.sub_2}}<br />	
	<br />
	<h3>Upcoming Matches:</h3>
	{% match_list 'upcoming' 'date_asc' matches %}
	<br />
	<h3>Recent Results:</h3>
	{% match_list 'complete' 'date_dec' matches %}
	<br />
	<h3>Matches awaiting result:</h3>
	{% match_list 'imcomplete' 'date_asc' matches %}
	<h3>Played in:</h3>
	{% for t in entered %}
		<a href='/view/tournament/{{t.0}}' style="margin-left:50px;">{{t.0}}</a> ({{t.1}})
	{% endfor%}
</div>