{% load match_list %}
<div class="grid_12">
	{% if tournament.completed %}<h1> This tournament has ended </h1> {% endif %}
	<h3>Registered Teams:</h3>
	{% for teamname, score in teams.items %}
	({{score}}) <a href='/view/team/{{teamname}}'>{{teamname}}</a><br />
	{% endfor %}
	<br />
	<h3>Upcoming Matches:</h3>
	{% match_list 'upcoming' 'date_asc' matches %}
	<h3>Unschedulded Matches and Matches awaiting results:</h3>
	{% match_list 'incomplete' 'date_asc' matches %}
	<h3>Completed Matches:</h3>
	{% match_list 'complete' 'importance' matches %}
</div>