{% include 'esports/t_header.html' with current='brackets' %}
<!-- BEGIN CONTENT WRAPPER -->
<div id="content-wrapper" class="content-wrapper">
	<div class="container">

		<div class="clearfix">


			{% for s_game, l_game in games.items %}
				{% include 'esports/t_title.html' with title='Upcoming '|add:l_game|add:' Matches:'  size=12 %}
				<table>
				{% for matchup in matches %}
					<table>
						{% if matchup.game = s_game and not matchup.completed %}                        
						<tr>
							<td width="50px"></td>
							<td>{{matchup.m_class}} - {{matchup.m_type}}:</td>
							<td><strong>{{matchup.team_1.name}}</strong> vs</td>
							<td> <strong>{{matchup.team_2.name}}</strong> {% if matchup.date = None %} with </td> <td>no datetime set </td> {% else %} on </td> <td>{{matchup.date}}</td> {% endif %}
						</tr>
						{% endif %}
					</table>
				{% endfor %}
				</table>
				<br />
			{% endfor %}
		</div>
	</div>
</div>
<!-- END CONTENT WRAPPER -->
{% include 'esports/t_footer.html' %}