{% extends "esports/base.html" %}

{%block indexview %}{%endblock indexview %}
{%block teamview %}{% if operation = 'team' %}	class="current-menu-item" {%endif %}{%endblock teamview %}
{%block tournamentview %}{% if operation != 'team' %}	class="current-menu-item" {%endif %}{%endblock tournamentview %}
{%block contactview %}{%endblock contactview %}


{% block title %}
	{% if operation = 'team' and mode = 'single' %}
		Team= {{team.name}}
	{% elif operation = 'team' and mode = 'all'  %}
		All registered Teams:
	{% elif  operation = 'team' and mode = 'current' %}
		Teams for current tournaments:
	{% elif operation = 'tournament' %}
		Tournament= {{tournament.name}}
	{% elif operation = 'date' %}
		Matches
	{% endif %}
{% endblock title %}

{% block content %}

	{% if operation = 'team' and mode = 'single' %}
		{% include "esports/v_team.html" %}
	{% elif operation = 'team' and mode = 'all' %}
		{% include "esports/v_multiteam.html" %}
	{% elif operation = 'team' and mode = 'current' %}
		{% include "esports/v_currentteam.html" %}
	{% elif operation = 'tournament' %}
		{% include "esports/v_tournament.html" %}
	{% elif operation = 'date' %}
		{% include "esports/t_calender.html" %}
	{% endif %}			

{% endblock content %}
